.wrapper {
    position: relative;
}
.imageBtn {
    position: absolute;
    top: 11px;
    left: 350px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #000;
}
.imageBtn input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}