.headerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-out;
}
.headerWrapper.dark {
    background-color: #000;
}
.navbar {
    display: flex;
    align-items: center;
    position: relative;
    padding: 27px 0;
}
.navbarToogler {
    display: none;
}
.navbarBrand {
    display: inline-block;
    width: 66px;
    height: 18px;
}
.navbarBrand img {
    max-width: 100%;
}
.navbarContainer {
    flex-grow: 1;
}
.navbarContent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbarMenu {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbarLink {
    display: inline-block;
    padding: 6px 0;
    position: relative;
    font-size: 12px;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}
.navbarLink::before {
    content: "";
    background-color: #D4A373;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}
.navbarLink:hover::before, .navbarLink.active::before {
    width: 100%;
}
.btn {
    display: inline-flex;
    padding: 5px 12px;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
.navbarBtns {
    display: flex;
    align-items: center;
    gap: 17px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 24px;
}
.signinBtn {
    border-color: #fff;
    color: #fff;
}
.signupBtn {
    background-color: #fff;
    border: 2px solid #fff;
    color: #000;
}
.signinBtn:hover {
    background-color: #fff;
    color: #000;
}
.searchBtn {
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 17px;
    cursor: pointer;
}
.signupBtn:hover {
    background-color: #D4A373;
}
.mobileHeader {
    display: none;
}
.profileButton {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
}
.profileButton i {
    width: 26px;
    height: 26px;
    overflow: hidden;
    border-radius: 100%;
    background-color: #fff;
}
.profileButton i img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileName {
    flex: 1;
    color: #fff;
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
.profileDropdown {
    position: absolute;
    top: 100%;
    right: 0px;
    width: 200px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.profileButton:hover .profileDropdown {
    opacity: 1;
    visibility: visible;
}
.dropdownLink {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #000;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.dropdownLink:hover {
    color: #D4A373;
}
@media only screen and (max-width: 500px) {
    .navbarContainer {
        position: fixed;
        top: 0;
        left: -260px;
        background-color: rgba(0, 0, 0, 4);
        width: 260px;
        height: 100%;
        transition: 0.3s ease-in-out;
    }
    .navbarContainer.show {
        left: 0;
    }
    .navbarContent {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }
    .navbarMenu {
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;
        margin-bottom: 20px;
        width: 100%;
    }
    .navbarMenu li {
        width: 100%;
    }
    .navbarLink {
        width: 100%;
    }
    .navbarLink::before {
        display: none;
    }
    .navbarBtns {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0px;
        gap: 5px;
    }
    .navbarBtns li {
        width: 100%;
    }
    .btn {
        width: 100%;
        justify-content: center;
    }
    .navbar {
        justify-content: space-between;
    }
    .navbarToogler {
        display: inline-flex;
        flex-direction: column;
        width: 32px;
        gap: 5px;
        margin-right: 20px;
        padding: 0px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
    }
    .navbarBrand {
        position: absolute;
        top: 30px;
        left: 52px;
    }
    .bar {
        width: 100%;
        height: 3px;
        background-color: #D4A373;
        border-radius: 60px;
    }
    .mobileHeader {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 20px;
    }
    .navbarClose {
        background-color: transparent;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
    }
}